
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 2;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7e5;
}

header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 2rem;
}

#about {
    text-align: center;
    padding: 2rem;
}

#about img {
    max-width: 100%;
    border-radius: 50%;
}

#skills {
    background-color: #fff;
    padding: 2rem;
}

#projects {
    padding: 2rem;
}

.project {
    margin-bottom: 3rem;
}

.project img {
    max-width: 100%;
}

#resume, #contact {
    text-align: center;
    padding: 2rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #33333300;
    color: #ffffff;
}
